# Pandas

In [1]:
import random
import string
import pandas as pd
import numpy as np

In [2]:
randStr = lambda str_type,length:"".join(np.random.choice(np.array(list(eval(str_type))),length))
randStr("string.ascii_uppercase",9)

'IMFJKVYLP'

In [3]:
def mkRandDf(length=None, width=None, str_kind=None, str_len=None):
    """
    Parameters
    ----------
    length : int
    width : int
    str_kind : str
        Any of the types of strings in strings module e.g.
            "acscii_lower", "ascii_upper", "digits", ect...
    str_len : int
    """
    str_kind = str_kind or "ascii_uppercase"
    str_kind = "string."+ str_kind
    str_len = width or 10
    
    randStr = lambda str_type, length :"".join(np.random.choice(np.array(list(eval(str_type))),length))
    
    column_names = [randStr(str_kind, width) for i in range(width)]
    
    rand_df = pd.DataFrame(np.random.rand(length, width))
    rand_df.columns = column_names
    
    return rand_df

my_df = mkRandDf(5, 6, str_kind="ascii_lowercase")
my_df

     aekbyu    mtrmie    yacwrf    ydyrml    amdssn    byhguv
0  0.046928  0.887509  0.631216  0.511697  0.003158  0.808440
1  0.736357  0.184243  0.559418  0.733090  0.977888  0.700463
2  0.020734  0.686597  0.466945  0.023035  0.468907  0.241435
3  0.973336  0.770435  0.392820  0.894668  0.037600  0.625363
4  0.827972  0.843094  0.064264  0.420759  0.897631  0.837835

--- 
# `ix` to slice up like a `numpy` array.

In [4]:
my_df.ix[:,0]

0    0.046928
1    0.736357
2    0.020734
3    0.973336
4    0.827972
Name: aekbyu, dtype: float64

# Use `to_frame` to make a sliced series into a data frame of its own.

In [5]:
my_df.ix[:,0].to_frame()

     aekbyu
0  0.046928
1  0.736357
2  0.020734
3  0.973336
4  0.827972

---

### MultiIndexing

In [3]:
data_array = np.random.rand(3,3)
data = pd.DataFrame(data_array,columns = ["left","middle","right"])
data

       left    middle     right
0  0.912992  0.544838  0.489038
1  0.977553  0.265588  0.342345
2  0.266270  0.121333  0.871679

In [3]:
def superGroup(dataframe=None,new_level=None):
    if type(dataframe.columns) == pd.indexes.base.Index:
        out_df = pd.DataFrame(dataframe.values,index=dataframe.index,columns=pd.MultiIndex.from_product([[new_level],dataframe.columns]))
        return out_df
    if type(dataframe.columns) == pd.indexes.multi.MultiIndex:
        levels = [list(i.values) for i in dataframe.columns.levels]
        levels = [[new_level]]+levels
        out_df = pd.DataFrame(dataframe.values, index = dataframe.index, columns = pd.MultiIndex.from_product(levels))
        return out_df

In [4]:
hey = superGroup(data,"New")
works = superGroup(hey,"Newest")
superGroup(works,"Most New")
# hey.columns.labels

   Most New
     Newest
        New
       left    middle     right
0  0.394329  0.298836  0.683910
1  0.847183  0.630419  0.171109
2  0.747384  0.058720  0.129397

---