# Bools!

In [6]:
import pandas as pd
import numpy as np

### TABLE OF TRUTH

https://en.wikipedia.org/wiki/Truth_table

- Let's use numpy to make an array of bools

In [15]:
truth_table = np.ones((4,2),dtype=bool)
truth_table[1,1] = False
truth_table[2,0] = False
truth_table[3] = False
truth_table

array([[ True,  True],
       [ True, False],
       [False,  True],
       [False, False]], dtype=bool)

- Let's convert our array into a dataframe.

In [33]:
t_table = pd.DataFrame(truth_table,columns = ["p","q"])
t_table

       p      q
0   True   True
1   True  False
2  False   True
3  False  False

In [34]:
t_table["p&q"]=t_table.p&t_table.q
t_table

       p      q    p&q
0   True   True   True
1   True  False  False
2  False   True  False
3  False  False  False

In [35]:
t_table["p^q"]=t_table.p^t_table.q
t_table

       p      q    p&q    p^q
0   True   True   True  False
1   True  False  False   True
2  False   True  False   True
3  False  False  False  False